.footerContainer{
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 20px;
}
.linha-footer{
    font-size: 18px;
}
.bg-footer-color{
    z-index: -1;
    position:absolute;
    background-color: #707070;
    width: 100%;
    height: 40%;
}
.bg-footer-cut{
    width: 100%;
    z-index: -1;
    position: absolute;
    transform: skewY(-5.3deg);
}